body{
    background-color: rgb(54, 52, 52);
    margin: 0px;
    padding: 0px;
    position: relative;
}
.icon{
    color: white;
    position: absolute;
    top: 1vh;
    left: 1vw;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}
.wrapper{
    display: flex;
    flex-direction: row;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 100vh;
    position: relative;
}
.shop{
    height: 100vh;
    width: 30vw;
    background-color: rgb(40, 38, 38);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Dumplings{
    scale: 6%;
    transition: 0.3s all ease-in-out;
    user-select: none;
}
.Dumplings:hover{
    scale: 8%;
    cursor: pointer;
}
.Dumplings.clicked{
    scale: 7%;
}
.count{
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}
.persec{
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 10vh;
}
.countbox{
    background-color: rgb(61, 58, 58);
    border-radius: 4px;
    width: auto;
    height: auto;
    position: absolute;
    top: 6vh;
    padding-bottom: .5vh;
    padding-top: .5vh;
    padding-right: .6vw;
    padding-left: .6vw;
}
.shoptext{
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin-top: 2vh;
}
.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.box{
    width: 90%;
    height: 6%;
    margin-top: 1vh;
    background-color: rgb(61, 58, 58);
    border-radius: 30px;
    display: none;
    align-items: center;
    transition: 0.3s all ease-in-out;
    position: relative;
}
.box.show{
    display: flex;
}
.box:hover{
    cursor: pointer;
    scale: 1.05;
}
.itemname{
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    margin-left: 1vw;
}
.price{
    color: rgb(0, 183, 0);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    position: absolute;
    right: 1vw;
}